@import "../defaults/colors";
@import "../defaults/breakpoints";
@import "./utils";

footer {
    background-color: $background-primary;
    color: $font-primary;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;

    ul {
        list-style-type: none;
        li {
            display: inline-block;
            margin: 0px 15px;
            a{
                color: $font-primary;
                font-size: 1.3rem;
                &:hover {
                    color: $font-secondary;
                    font-size: 1.1rem;
                }
            }
        }        
    }
}