@import "../defaults/colors";
@import "../defaults/breakpoints";
@import "./utils";

// Design for smaller-screen and mobile devices first.
header {
    background-color: $background-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    #logo {
        width: auto;
        height: 50px;
        max-width: 100%;
        img {
            @include image-config();
        }
    }

    #sidebar {
        background-color: $background-secondary;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        padding-top: 60px;
        right: 0;
        overflow-x: hidden;
        transition: 0.8s;


        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                padding: 10px;
                a {
                    font-size: 1.3rem;
                    font-weight: bolder;
                    font-family: 'Courier New', Courier, monospace;
                    color: $font-primary;
                    text-decoration: none;
                    text-align: center;
                    display: block;
                    transition: 0.2s;

                    &:hover {
                        color: $background-primary;
                        background-color: $background-third;
                    }
                }
            }
        }
    }
    #navbar {
        display: none;
    }
}

// Customize for larger-screen and destops devices.
@media screen and (min-width: $medium) {
    header {
        justify-content: space-between;
        #sidebar {
            display: none;
        }
        .open-btn {
            display: none;
        }

        #navbar {
            display: block;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;

                li {
                    float: left;

                    a{
                        font-weight: bolder;
                        font-family: 'Courier New', Courier, monospace;
                        display: block;
                        color: $font-primary;
                        text-decoration: none;
                        text-align: center;
                        padding: 20px 20px;
                        transition: 0.3s;
                        &:hover {
                            color: $background-primary;
                            background-color: $background-third;
                        }
                    }
                }
            }
        }
    }
}