@import "../defaults/colors";

@mixin image-config() {
    max-width: 100%;
    max-height: 100%;
}

@mixin skill-grid-config() {
    background-color: $background-fourth;
    display: flex;
    justify-content: center;
    align-items: center;
}