$background-primary: rgb(0, 0, 0);
$background-secondary: #333;
$background-third: #ddd;
$background-fourth: rgb(241, 236, 236);
$background-fifth: rgb(245, 174, 44);
$background-sixth: rgb(56, 190, 235);
$background-seventh: rgb(228, 103, 103);

$font-primary: rgb(255, 255, 255);
$font-secondary: rgba(158, 147, 147, 0.733);   