@import "./styles/defaults/colors";
@import "./styles/defaults/breakpoints";
@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/components/utils";

body {
    margin: 0;
}