@import "../../index";
@import "../defaults/colors";

main {
    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 30px;

        .content {
            color: $font-primary;
            flex: 1; //allows the paragraph grow.
            max-width: 500px;
            font-family: 'Courier New', Courier, monospace;
        }

        .photo {
            flex: 0 0 auto;
            max-width: 30%;

            img {
                max-width: 100%; // responsive design for the photo.
                height: auto;
                display: block;
                border-radius: 100%;

                &:hover {
                    opacity: 0.5;
                }

                // overflow: hidden;
            }
        }

    }

    .image-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); //Creates as many columns that can fit the container with each 300ppx width.
        grid-gap: 20px;
        padding: 20px;

        .gallery-item {
            overflow: hidden; // Prevents the images from overflowing the grid area.
            position: relative;
            border-radius: 10%;
            animation: rotateAndScale 10s infinite alternate ease-in-out;

            img {
                width: 100%;
                height: auto;
                border-radius: 10%;
                object-fit: cover; //Ensure all the image cover the grid area.
                opacity: 0.3;
                &:hover{
                    opacity: 1;
                    transform: scale(1.5) rotate(360deg);
                    transition: 1.5s;
                }
                
            }
        }
    }

}
@keyframes rotateAndScale {
    0% {
      transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.1) rotate(5deg);
    }
    50% {
      transform: scale(1.1) rotate(-5deg);
    }
    75% {
        transform: scale(1.1) rotate(5deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }