@import "../../index";
@import "../defaults/colors";
@import "../components/utils";

body {
    background-color: $background-third;
    main {
        .skills-grid {
            width: 100vw;
            height: 70vh;
            display: grid;
            // Create the grid.
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr 1fr 3fr;
            column-gap: 20px;

            
            .heading {
                background-color: $background-fifth;
                grid-column: 1 / -1;
                grid-row: 1 / 3;
                box-shadow: 5px 5px 5px 5px;
            }
            
            .grid-items {
                border: 2px solid black;
                border-radius: 3%;
                grid-gap: 100px;
                box-shadow: 5px 10px;
                display: flex;
                flex-direction: column;

                &:hover {
                    box-shadow: 15px 25px;
                    font-size: 1.1rem;
                }

                ul {
                    list-style-type: none;
                    li {
                        padding-top: 10px;
                    }
                }
            }
            #resume {
                @include skill-grid-config();
                grid-column: 5 / -1;
                grid-row: 2 / 3;
                height: 30%;
                width: 50%;
                background-color: $background-sixth;
                box-shadow: 3px 5px;
                &:hover {
                    box-shadow: 6px 8px;
                    background-color: $background-seventh;
                }
                a {
                    text-decoration: none;
                    color: $font-primary;
                    font-family: 'Courier New', Courier, monospace;
                    &:hover {
                        color: $background-primary;
                    }    
                }

            }

            // Languages I "Speak"
            #languages {
                @include skill-grid-config();
                grid-column: 2 / 3;
                grid-row: 2 / 4;
            }

            // Things I Do
            #things {
                @include skill-grid-config();
                grid-column: 3 / 4;
                grid-row: 2 / 4;
            }

            // Tools I Use
            #tools {
                @include skill-grid-config();
                grid-column: 4 / 5;
                grid-row: 2 / 4;
            }
        }
    }
}