@import "../defaults/colors";
@import "../defaults/breakpoints";
@import "./utils";

header {
    background-color: $background-primary;
    display: flex;
    justify-content: center;
    align-items: center;

    #sidebar {
        padding:16px;
        background: $background-secondary;
        display: none;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                a {
                    color: $font-primary;
                    text-decoration: none;
                    text-align: center;
                    // padding: 14px 16px;

                    &:hover {
                        color: $background-primary;
                        background-color: $background-third;
                    }
                }
            }

        }
    }
    
    
}